[app]
max_failovers = 3
checkpoint = "./relay.checkpoint"

log_level = "debug"
metrics_server_addr = ":7081"

[[consumers]]
name = "node1"
servers = ["node1:9092"]
session_timeout = "6s"
enable_auth = true
sasl_mechanism = "PLAIN"
username = "user-x"
password = "pass-x"
max_wait_time = "10ms"
# To not commit offsets, set this to 0.
offset_commit_interval = "100ms"
initial_offset = "start"
group_id = "relay_group1"

max_failovers = 3

enable_tls = false
client_key_path = ""
client_cert_path = ""
ca_cert_path = ""

enable_log = false

[[consumers]]
name = "node2"
servers = ["node2:9092"]
session_timeout = "6s"
enable_auth = true
sasl_mechanism = "PLAIN"
username = "user-x"
password = "pass-x"
max_wait_time = "10ms"
# To not commit offsets, set this to 0.
offset_commit_interval = "100ms"
initial_offset = "start"
group_id = "relay_group2"

max_failovers = 3

enable_tls = false
client_key_path = ""
client_cert_path = ""
ca_cert_path = ""

enable_log = false

[topics]
topicA = "machineX_topicA"

[producer]
name = "node3"
servers = ["node3:9092"]
enable_auth = true
sasl_mechanism = "PLAIN" # PLAIN/SCRAM-SHA-256/SCRAM-SHA-512
username = "user-y"
password = "pass-y"
max_retries = 3
flush_frequency = "20ms"
session_timeout = "6s"
batch_size = 1000
max_message_bytes = 10000000

enable_tls = false
client_key_path = ""
client_cert_path = ""
ca_cert_path = ""

enable_log = false


[filter.testfilter]
config = '''
{
    "address": ["127.0.0.1:6379"],
    "username": "",
    "password": "",
    "db": 10,
    "max_active": 50,
    "max_idle": 20,
    "dial_timeout": 3000,
    "read_timeout": 3000,
    "write_timeout": 3000,
    "idle_timeout": 30000
}
'''