[consumer]
servers = ["localhost:9092"]
session_timeout = "6s"
auth_enabled = false
username = ""
password = ""
max_wait_time = "10ms"
# To not commit offsets, set this to 0.
offset_commit_interval = "100ms"
initial_offset = "start"
group_id = "relay_group"

[topics]
topic_a = "backup_topic_a"

[producer]
servers = ["localhost:9092"]
auth_enabled = false
username = ""
password = ""
max_retries = 3
flush_frequency = "20ms"
session_timeout = "6s"
batch_size = 1000
max_message_bytes = 10000000
sasl_mechanism = "PLAIN" # PLAIN/SCRAM-SHA-256/SCRAM-SHA-512